<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <nav-canvas brandName="StoryApp"></nav-canvas>

    <main>
      <div class="main-content">
        <div class="container mt-5">
          <div class="col-lg-6 mx-auto">
            <h3 class="mb-3">About</h3>

            <p>
              Hello, my name is Fajar. I'm this website's author. See my other
              projects below :D
            </p>

            <my-carousel></my-carousel>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
