<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <nav-canvas brandName="StoryApp"></nav-canvas>

    <main>
      <div class="main-content">
        <div class="container mt-5">
          <div class="col-lg-6 mx-auto">
            <div class="data-field"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
